NODE_ENV=development
PORT=3000
MONGODB_URL=mongodb://localhost:27017/edumy
SESSION_SECRET=your-super-secret-key-change-in-production
ADMIN_EMAILS=admin@example.com
ADMIN_USER_IDS=68a69b0a055071b7e4410b8f
CLOUDINARY_CLOUD_NAME=dwxy9oepm
CLOUDINARY_API_KEY=your_key_here
CLOUDINARY_API_SECRET=your_secret_here
OLLAMA_URL=http://localhost:11434
GOOGLE_DRIVE_CLIENT_EMAIL=your_service_account@project.iam.gserviceaccount.com
GOOGLE_DRIVE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n your_private_key\n-----END PRIVATE KEY-----\n
# Firebase
FIREBASE_PROJECT_ID=your_project
FIREBASE_PRIVATE_KEY_ID=your_key_id
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n
FIREBASE_CLIENT_EMAIL=your@project.firebase
FIREBASE_CLIENT_ID=your_client_id
